body{
  margin: 0;
  padding: 0;
}
img{
  width: 160px;
  height: 160px;
}

/**SmartPhone**/
@media screen and (max-width: 420px){
  h1{
    text-align: center;
    margin-bottom: 20px;

  }
  h3{
    text-align: center;
  }

  .img-pro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}
/**tablet**/
@media screen and (max-width: 770px) and (min-width: 421px){
  h1{
    text-align: center;
    margin-bottom: 20px;
  }
  h3{
    text-align: center;
  }
  .img-pro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}
