body{
  margin: 0;
  padding: 0;
}

img{
  width: 150px;
  height: 150px;
}

/**SmaerPhone**/
@media screen and (max-width: 420px){

h4{
  text-align: center;
}
a{
  color:rgb(51,51,51);
}
}
/**tablet**/
@media screen and (max-width: 767px) and (min-width: 421px){
  body{
    background-color: blue;
  }
}
/**desktop**/
@media screen and (min-width: 769px){
  .texto{
    white-space: nowrap;
    width: 200px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;

  }
}
