body{
  margin: 0;
}

#avatar{

  width: 150px;
  height: 150px;
}
 .alterar-a{
   text-decoration: none;
 }



.well {
  width: 300px;
  margin-left: 10px;
}
#rows-ul{
 list-style: none;
}

#rows-li{
  padding-bottom: 10px;
  text-decoration: none;

}

@media screen and (max-width: 400px)  {
h1{
font-size: 25px;
text-align: center;
}
.gravata-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.well{
display: flex;
align-items: center;
justify-content: center;
}
.alterar-a{
  display: flex;
  align-items: center;
  justify-content: center;
}

}
