body{
  margin: 0;
}

#avatar{

  width: 150px;
  height: 150px;
}




.well {
  width: 300px;

}
#rows-ul{
 list-style: none;
}

#rows-li{
  padding-bottom: 10px;
  text-decoration: none;

}
/**SmartPhone**/
@media screen and (max-width: 420px)  {
h1{
font-size: 25px;
text-align: center;
}
.gravata-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.well{
display: flex;
width: 100%;
align-items: center;
justify-content: center;
}
.alterar-a{
  display: flex;
  align-items: center;
  justify-content: center;
}
}

/**tablet**/
@media screen and (max-width: 770px) and (min-width: 421px){
h1{
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.gravata-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.well{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}
}
/**desktop**/
@media screen and (min-width: 771px){
  h1{
    color: red;
  }
}
