.form{
width: 50%;
 margin: 0px auto;
 padding-bottom: 50px;
}

#legenda-form{
  text-align: center;
  padding-top: 50px;
}
#exampleInputIdade{
  width: 80px;
}
#datetimepicker1{
  width: 200px;
}
#exampleInputfone{
  width: 200px;
}
#exampleInputCelular{
  width: 200px;
}
