body{
  margin: 0px;
}

#topo{
  text-align: center;
  margin-top: 30px;
  color: green;
  font-size: 25px;
}

.cotainer{
  width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 30px;
  display: flex;
}

h3{
  line-height: 35px;
  text-align: center;
}
p{
  line-height: 18px;
}

#size_img{
  width: 150px;
  height: 150px;
}

hr{
 height: 3px;
 box-shadow: 0px -4px 4px #C0C0C0;
 margin-bottom: 10px;
background: rgba(105, 105, 105, 1);
width: 500px;
}

.space-img{
  margin-left: 10px;
}
