body{
  margin: 0px;
}

#topo{
  text-align: center;
  margin-top: 30px;
  color: green;
  font-size: 25px;
}

.cotainer{
  width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 30px;
  display: flex;
}

h3{
  line-height: 35px;
}
p{
  line-height: 18px;
}

#size_img{
  width: 150px;
  height: 150px;
}

hr{
 padding-bottom: 5px;
 margin-bottom: 10px;
background-color: red;
width: 500px;
}
